.animate-gradient {
  background-size: 200% auto;
  animation: gradient 3s linear infinite;
}

.bg-size-200 {
  background-size: 200% auto;
}

@keyframes gradient {
  0% { background-position: 0% center; }
  100% { background-position: -200% center; }
}
